body {
	max-width: 750px;
	margin: 0 auto;
	padding: 2em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* https://twitter.com/mdo/status/752561058011754496 */
}

h1,
h2 {
	font-weight: 400;
	color: #1abc9c;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
	background-color: #1abc9c;
	text-transform: uppercase;
	padding: 1em 2em;
}

#demo {
	padding: 0;
	margin-left: -7.5px;
	margin-right: -7.5px;
}

#demo li {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 3px solid transparent;
	padding: 5px;
	border-radius: 3px;
	transition: background-color 300ms ease-out;
}

#demo li:hover,
#demo li.active {
	background-color: #383838;
}

#demo .thbanks {
	display: inline-block;
	border-radius: 3px;
}

#demo .thbanks:before {
	color: white;
	padding: 10px;
	font-size: 2em;
}

#result {
	margin-bottom: 2em;
}

#code {
	background-color: #eee;
	border: 1px solid #ddd;
	width: 100%;
	padding: 1em;
	border: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#status {
	color: green;
	opacity: 0;
	transition: opacity 300ms ease-out;
	padding: .3em 1em;
}

#status.success {
	opacity: 1;
}

#stylesheet_code {
	color: white;
	background-color: #999;
	padding: 1em;
	margin: 0;
}